#cSharpResult {
  display: none;
}
#cssDesignResult {
  display: none;
}
#rubyRailsResult {
  display: none;
}




}
.textHeader {
  margin-top: 200px;
  margin-left: 100px;
}

.bg-color-custom {
  background-color: #C8E9F0;
}
#survey-card {
  margin-left: 35px;
}

.bg-color-orange {
  background-color: #F0A377;
}
.btn {
  color: black;
}
.alert {
  color: black;
}

#defaultPhoto {
  margin-top: 30px;
  margin-left: 30px;
}
